In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import os

### Define Age Range

In [4]:
cleaned_users = pd.read_csv('../data/clean/user_profile.csv')

In [5]:
cleaned_users.head()

                                    user_id   age        country
0  00007a47085b9aab8af55f52ec8846ac479ac4fe  28.0  United States
1  0001a57568309b287363e72dc682e9a170ba6dc2  23.0  United States
2  00024b5b85c40f990c28644d53257819980bf6bb  23.0  United States
3  0002dd2154072434d26e5409faa591bfb260a01e  30.0  United States
4  00032c7933e0eb05f2258f1147ef81a90f2d4d6c  26.0  United States

In [6]:
def extract_users(df, age, age_range):
    start = age - age_range
    end = age + age_range
    users_selected = df[(df['age'] >= start) & (df['age'] <= end)].reset_index(drop=True)
    return users_selected

In [7]:
extract_users(cleaned_users, 42, 5)

                                       user_id   age        country
0     0008538a0f505f72fdd66af3c4c71aef8d3bdea4  47.0  United States
1     000d878a6b2c852089e1a57698dc7f7df76cde6a  45.0  United States
2     00145c6f4477a15b5ea78d86f6e60c28e33f353c  45.0  United States
3     00562cdf605a5bfe55bd971cb23bd4d05115d862  39.0  United States
4     006cc2d3a76f75a399098eee512b2f645a049fc1  38.0  United States
...                                        ...   ...            ...
3968  ffaf72820a4d9d0b61415c48efb19c2f09858fa7  46.0  United States
3969  ffb3d364b4cda0dc0661ac1e104b3ca9a39516b8  39.0  United States
3970  fff69e7cb53568c732909648527a778c31befec8  38.0  United States
3971  fff820efe22db6c868515436de82af39e013b910  44.0  United States
3972  fff9dc65e7f2763a7e8bce8d99cc1491c2ae4c6f  41.0  United States

[3973 rows x 3 columns]

### Apply Age Range to Artist Listening History

In [8]:
def extract_histories(df, users):
    extracted_history = df[df['user_id'].isin(users['user_id'])]
    return extracted_history

In [9]:
chosen_users = extract_users(cleaned_users, 55, 5)

In [10]:
cleaned_history = pd.read_csv('../data/clean/user_artist.csv')

In [11]:
cleaned_history = extract_histories(cleaned_history, cleaned_users)

In [12]:
cleaned_history.head()

,user_id,artist_id,artist_name,plays
0,00007a47085b9aab8af55f52ec8846ac479ac4fe,0110e63e-0a9b-4818-af8e-41e180c20b9a,devendra banhart,456
1,00007a47085b9aab8af55f52ec8846ac479ac4fe,69158f97-4c07-4c4e-baf8-4e4ab1ed666e,boards of canada,407
2,00007a47085b9aab8af55f52ec8846ac479ac4fe,e162b2eb-6a42-4240-8c1b-c94d9a0acb73,cocorosie,386
3,00007a47085b9aab8af55f52ec8846ac479ac4fe,f22942a1-6f70-4f48-866e-238cb2308fbd,aphex twin,213
4,00007a47085b9aab8af55f52ec8846ac479ac4fe,0c751690-c784-4a4f-b1e4-c1de27d47581,animal collective,203

In [13]:
cleaned_history.shape

(2575300, 4)

In [14]:
chosen_history = extract_histories(cleaned_history, chosen_users)

In [15]:
chosen_users.head()

                                    user_id   age        country
0  000912716c36131c4d8591da475c93337e7196a7  57.0  United States
1  00496ca782bbd63ef3fb5ac7db30cc7bef508e22  50.0  United States
2  00f251370e500f9a3a93f38d8610fe38f6bbb3f5  51.0  United States
3  01870107318a18555a17bc7ed62aa4cbf7cf27f6  58.0  United States
4  01e217e8c9b0babb4f882588d1e25d72788ea18e  55.0  United States

In [16]:
chosen_history.head()

,user_id,artist_id,artist_name,plays
473,000912716c36131c4d8591da475c93337e7196a7,02294a9c-c924-4a59-877d-3ee98ee05ae1,sexteto mayor,29
474,000912716c36131c4d8591da475c93337e7196a7,4d483147-c871-48c4-8470-85e5a66381c5,celtic woman,24
475,000912716c36131c4d8591da475c93337e7196a7,7629ca32-b4fd-4598-aa20-956552826ee3,patrick williams,24
476,000912716c36131c4d8591da475c93337e7196a7,4f8ef4a3-40fa-46b5-8773-97686a8424f4,Édith piaf,18
477,000912716c36131c4d8591da475c93337e7196a7,3c004c98-aab6-4b63-a2df-e07c98e73b0a,josé feliciano,13

In [17]:
most_occurrence = pd.DataFrame(chosen_history.groupby('artist_name')['plays'].count().sort_values(ascending=False))

In [18]:
most_occurrence[:20]

                              plays
artist_name
the beatles                     318
the rolling stones              212
bob dylan                       185
the who                         145
pink floyd                      135
neil young                      134
led zeppelin                    133
fleetwood mac                   125
simon & garfunkel               122
eric clapton                    120
van morrison                    119
bruce springsteen               117
david bowie                     115
the beach boys                  111
eagles                          110
u2                              105
elton john                      105
jethro tull                     102
miles davis                     101
creedence clearwater revival     99

### Working with Spotipy

### Working with Spotipy

In [19]:
import spotipy

In [20]:
# Application information
client_id = 'f78a4f4cfe9c40ea8fe346b0576e98ea'
client_secret = 'c26db2d4c1fb42d79dc99945b2360ab4'

# Temporary placeholder until we actually get a website going
redirect_uri = 'https://google.com/'

# The permissions that our application will ask for
scope = " ".join(['playlist-modify-public',"user-top-read","user-read-recently-played","playlist-read-private"])

username = 'gazzaniga3'

In [21]:
%%cmd

SET SPOTIPY_CLIENT_ID=client_id
SET SPOTIPY_CLIENT_SECRET=client_secret
SET SPOTIPY_REDIRECT_URI=redirect_uri

Microsoft Windows [Version 10.0.19042.804]
(c) 2020 Microsoft Corporation. All rights reserved.

C:\Users\sarat\GitHub\DSC180b-Capstone\notebooks>
C:\Users\sarat\GitHub\DSC180b-Capstone\notebooks>SET SPOTIPY_CLIENT_ID=client_id

C:\Users\sarat\GitHub\DSC180b-Capstone\notebooks>SET SPOTIPY_CLIENT_SECRET=client_secret

C:\Users\sarat\GitHub\DSC180b-Capstone\notebooks>SET SPOTIPY_REDIRECT_URI=redirect_uri

C:\Users\sarat\GitHub\DSC180b-Capstone\notebooks>

In [22]:
print(os.environ.get('SPOTIPY_CLIENT_ID'))
print(os.environ.get('SPOTIPY_CLIENT_SECRET'))
print(os.environ.get('SPOTIPY_REDIRECT_URI'))

None
None
None

In [23]:
# Oauth object    
sp_oauth = spotipy.oauth2.SpotifyOAuth(client_id, client_secret, redirect_uri, scope=scope, username=username)

# Force auth every time
authUrl = sp_oauth.get_authorize_url()
authUrl

'https://accounts.spotify.com/authorize?client_id=f78a4f4cfe9c40ea8fe346b0576e98ea&response_type=code&redirect_uri=https%3A%2F%2Fgoogle.com%2F&scope=playlist-modify-public+playlist-read-private+user-read-recently-played+user-top-read'

In [24]:
try:
    sp = spotipy.Spotify(auth_manager=sp_oauth)
except:
    os.remove(f'.cache-{username}')
    sp = spotipy.Spotify(auth_manager=sp_oauth)

In [25]:
get_artist = sp.search("the beatles")['tracks']['items'][0]['album']['artists'][0]['uri']

In [26]:
get_artist

'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'

In [27]:
get_tracks = sp.artist_top_tracks(get_artist)

In [28]:
get_tracks

{'tracks': [{'album': {'album_type': 'album',
    'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
      'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
      'id': '3WrFJ7ztbogyGnTHbHJFl2',
      'name': 'The Beatles',
      'type': 'artist',
      'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
    'external_urls': {'spotify': 'https://open.spotify.com/album/0ETFjACtuP2ADo6LFhL6HN'},
    'href': 'https://api.spotify.com/v1/albums/0ETFjACtuP2ADo6LFhL6HN',
    'id': '0ETFjACtuP2ADo6LFhL6HN',
    'images': [{'height': 640,
      'url': 'https://i.scdn.co/image/ab67616d0000b273dc30583ba717007b00cceb25',
      'width': 640},
     {'height': 300,
      'url': 'https://i.scdn.co/image/ab67616d00001e02dc30583ba717007b00cceb25',
      'width': 300},
     {'height': 64,
      'url': 'https://i.scdn.co/image/ab67616d00004851dc30583ba717007b00cceb25',
      'width': 64}],
    'name': 'Abbey Road (Remastered)',
    'release_date': '1969-09-26',
    'release_date_precision': 'day',
    'total_tracks': 17,
    'type': 'album',
    'uri': 'spotify:album:0ETFjACtuP2ADo6LFhL6HN'},
   'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
     'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
     'id': '3WrFJ7ztbogyGnTHbHJFl2',
     'name': 'The Beatles',
     'type': 'artist',
     'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
   'disc_number': 1,
   'duration_ms': 185733,
   'explicit': False,
   'external_ids': {'isrc': 'GBAYE0601696'},
   'external_urls': {'spotify': 'https://open.spotify.com/track/6dGnYIeXmHdcikdzNNDMm2'},
   'href': 'https://api.spotify.com/v1/tracks/6dGnYIeXmHdcikdzNNDMm2',
   'id': '6dGnYIeXmHdcikdzNNDMm2',
   'is_local': False,
   'is_playable': True,
   'name': 'Here Comes The Sun - Remastered 2009',
   'popularity': 81,
   'preview_url': 'https://p.scdn.co/mp3-preview/6902e7da51d2f17e5369d57dadf8ce7d2a123f99?cid=f78a4f4cfe9c40ea8fe346b0576e98ea',
   'track_number': 7,
   'type': 'track',
   'uri': 'spotify:track:6dGnYIeXmHdcikdzNNDMm2'},
  {'album': {'album_type': 'album',
    'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
      'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
      'id': '3WrFJ7ztbogyGnTHbHJFl2',
      'name': 'The Beatles',
      'type': 'artist',
      'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
    'external_urls': {'spotify': 'https://open.spotify.com/album/0ETFjACtuP2ADo6LFhL6HN'},
    'href': 'https://api.spotify.com/v1/albums/0ETFjACtuP2ADo6LFhL6HN',
    'id': '0ETFjACtuP2ADo6LFhL6HN',
    'images': [{'height': 640,
      'url': 'https://i.scdn.co/image/ab67616d0000b273dc30583ba717007b00cceb25',
      'width': 640},
     {'height': 300,
      'url': 'https://i.scdn.co/image/ab67616d00001e02dc30583ba717007b00cceb25',
      'width': 300},
     {'height': 64,
      'url': 'https://i.scdn.co/image/ab67616d00004851dc30583ba717007b00cceb25',
      'width': 64}],
    'name': 'Abbey Road (Remastered)',
    'release_date': '1969-09-26',
    'release_date_precision': 'day',
    'total_tracks': 17,
    'type': 'album',
    'uri': 'spotify:album:0ETFjACtuP2ADo6LFhL6HN'},
   'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
     'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
     'id': '3WrFJ7ztbogyGnTHbHJFl2',
     'name': 'The Beatles',
     'type': 'artist',
     'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
   'disc_number': 1,
   'duration_ms': 259946,
   'explicit': False,
   'external_ids': {'isrc': 'GBAYE0601690'},
   'external_urls': {'spotify': 'https://open.spotify.com/track/2EqlS6tkEnglzr7tkKAAYD'},
   'href': 'https://api.spotify.com/v1/tracks/2EqlS6tkEnglzr7tkKAAYD',
   'id': '2EqlS6tkEnglzr7tkKAAYD',
   'is_local': False,
   'is_playable': True,
   'name': 'Come Together - Remastered 2009',
   'popularity': 77,
   'preview_url': 'https://p.scdn.co/mp3-preview/83090a4db6899eaca689ae35f69126dbe65d94c9?cid=f78a4f4cfe9c40ea8fe346b0576e98ea',
   'track_number': 1,
   'type': 'track',
   'uri': 'spotify:track:2EqlS6tkEnglzr7tkKAAYD'},
  {'album': {'album_type': 'album',
    'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
      'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
      'id': '3WrFJ7ztbogyGnTHbHJFl2',
      'name': 'The Beatles',
      'type': 'artist',
      'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
    'external_urls': {'spotify': 'https://open.spotify.com/album/0jTGHV5xqHPvEcwL8f6YU5'},
    'href': 'https://api.spotify.com/v1/albums/0jTGHV5xqHPvEcwL8f6YU5',
    'id': '0jTGHV5xqHPvEcwL8f6YU5',
    'images': [{'height': 640,
      'url': 'https://i.scdn.co/image/ab67616d0000b27384243a01af3c77b56fe01ab1',
      'width': 640},
     {'height': 300,
      'url': 'https://i.scdn.co/image/ab67616d00001e0284243a01af3c77b56fe01ab1',
      'width': 300},
     {'height': 64,
      'url': 'https://i.scdn.co/image/ab67616d0000485184243a01af3c77b56fe01ab1',
      'width': 64}],
    'name': 'Let It Be (Remastered)',
    'release_date': '1970-05-08',
    'release_date_precision': 'day',
    'total_tracks': 12,
    'type': 'album',
    'uri': 'spotify:album:0jTGHV5xqHPvEcwL8f6YU5'},
   'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
     'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
     'id': '3WrFJ7ztbogyGnTHbHJFl2',
     'name': 'The Beatles',
     'type': 'artist',
     'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
   'disc_number': 1,
   'duration_ms': 243026,
   'explicit': False,
   'external_ids': {'isrc': 'GBAYE0601713'},
   'external_urls': {'spotify': 'https://open.spotify.com/track/7iN1s7xHE4ifF5povM6A48'},
   'href': 'https://api.spotify.com/v1/tracks/7iN1s7xHE4ifF5povM6A48',
   'id': '7iN1s7xHE4ifF5povM6A48',
   'is_local': False,
   'is_playable': True,
   'name': 'Let It Be - Remastered 2009',
   'popularity': 77,
   'preview_url': 'https://p.scdn.co/mp3-preview/f7913ebb647d47835c34fa4db7e889c8a87c6d10?cid=f78a4f4cfe9c40ea8fe346b0576e98ea',
   'track_number': 6,
   'type': 'track',
   'uri': 'spotify:track:7iN1s7xHE4ifF5povM6A48'},
  {'album': {'album_type': 'album',
    'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
      'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
      'id': '3WrFJ7ztbogyGnTHbHJFl2',
      'name': 'The Beatles',
      'type': 'artist',
      'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
    'external_urls': {'spotify': 'https://open.spotify.com/album/0PT5m6hwPRrpBwIHVnvbFX'},
    'href': 'https://api.spotify.com/v1/albums/0PT5m6hwPRrpBwIHVnvbFX',
    'id': '0PT5m6hwPRrpBwIHVnvbFX',
    'images': [{'height': 640,
      'url': 'https://i.scdn.co/image/ab67616d0000b273e3e3b64cea45265469d4cafa',
      'width': 640},
     {'height': 300,
      'url': 'https://i.scdn.co/image/ab67616d00001e02e3e3b64cea45265469d4cafa',
      'width': 300},
     {'height': 64,
      'url': 'https://i.scdn.co/image/ab67616d00004851e3e3b64cea45265469d4cafa',
      'width': 64}],
    'name': 'Help! (Remastered)',
    'release_date': '1965-08-06',
    'release_date_precision': 'day',
    'total_tracks': 14,
    'type': 'album',
    'uri': 'spotify:album:0PT5m6hwPRrpBwIHVnvbFX'},
   'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
     'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
     'id': '3WrFJ7ztbogyGnTHbHJFl2',
     'name': 'The Beatles',
     'type': 'artist',
     'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
   'disc_number': 1,
   'duration_ms': 125666,
   'explicit': False,
   'external_ids': {'isrc': 'GBAYE0601477'},
   'external_urls': {'spotify': 'https://open.spotify.com/track/3BQHpFgAp4l80e1XslIjNI'},
   'href': 'https://api.spotify.com/v1/tracks/3BQHpFgAp4l80e1XslIjNI',
   'id': '3BQHpFgAp4l80e1XslIjNI',
   'is_local': False,
   'is_playable': True,
   'name': 'Yesterday - Remastered 2009',
   'popularity': 76,
   'preview_url': 'https://p.scdn.co/mp3-preview/e0e725ffb5467d8fc192f5f2bdc0656de2d5d8b3?cid=f78a4f4cfe9c40ea8fe346b0576e98ea',
   'track_number': 13,
   'type': 'track',
   'uri': 'spotify:track:3BQHpFgAp4l80e1XslIjNI'},
  {'album': {'album_type': 'album',
    'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
      'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
      'id': '3WrFJ7ztbogyGnTHbHJFl2',
      'name': 'The Beatles',
      'type': 'artist',
      'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
    'external_urls': {'spotify': 'https://open.spotify.com/album/7vEJAtP3KgKSpOHVgwm3Eh'},
    'href': 'https://api.spotify.com/v1/albums/7vEJAtP3KgKSpOHVgwm3Eh',
    'id': '7vEJAtP3KgKSpOHVgwm3Eh',
    'images': [{'height': 640,
      'url': 'https://i.scdn.co/image/ab67616d0000b273582d56ce20fe0146ffa0e5cf',
      'width': 640},
     {'height': 300,
      'url': 'https://i.scdn.co/image/ab67616d00001e02582d56ce20fe0146ffa0e5cf',
      'width': 300},
     {'height': 64,
      'url': 'https://i.scdn.co/image/ab67616d00004851582d56ce20fe0146ffa0e5cf',
      'width': 64}],
    'name': '1 (Remastered)',
    'release_date': '2000-11-13',
    'release_date_precision': 'day',
    'total_tracks': 27,
    'type': 'album',
    'uri': 'spotify:album:7vEJAtP3KgKSpOHVgwm3Eh'},
   'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
     'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
     'id': '3WrFJ7ztbogyGnTHbHJFl2',
     'name': 'The Beatles',
     'type': 'artist',
     'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
   'disc_number': 1,
   'duration_ms': 425653,
   'explicit': False,
   'external_ids': {'isrc': 'GBUM71505902'},
   'external_urls': {'spotify': 'https://open.spotify.com/track/0aym2LBJBk9DAYuHHutrIl'},
   'href': 'https://api.spotify.com/v1/tracks/0aym2LBJBk9DAYuHHutrIl',
   'id': '0aym2LBJBk9DAYuHHutrIl',
   'is_local': False,
   'is_playable': True,
   'name': 'Hey Jude - Remastered 2015',
   'popularity': 74,
   'preview_url': 'https://p.scdn.co/mp3-preview/c718fc992246a4b070500515880bed0b517631ab?cid=f78a4f4cfe9c40ea8fe346b0576e98ea',
   'track_number': 21,
   'type': 'track',
   'uri': 'spotify:track:0aym2LBJBk9DAYuHHutrIl'},
  {'album': {'album_type': 'album',
    'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
      'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
      'id': '3WrFJ7ztbogyGnTHbHJFl2',
      'name': 'The Beatles',
      'type': 'artist',
      'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
    'external_urls': {'spotify': 'https://open.spotify.com/album/1klALx0u4AavZNEvC4LrTL'},
    'href': 'https://api.spotify.com/v1/albums/1klALx0u4AavZNEvC4LrTL',
    'id': '1klALx0u4AavZNEvC4LrTL',
    'images': [{'height': 640,
      'url': 'https://i.scdn.co/image/ab67616d0000b2734ce8b4e42588bf18182a1ad2',
      'width': 640},
     {'height': 300,
      'url': 'https://i.scdn.co/image/ab67616d00001e024ce8b4e42588bf18182a1ad2',
      'width': 300},
     {'height': 64,
      'url': 'https://i.scdn.co/image/ab67616d000048514ce8b4e42588bf18182a1ad2',
      'width': 64}],
    'name': 'The Beatles (Remastered)',
    'release_date': '1968-11-22',
    'release_date_precision': 'day',
    'total_tracks': 30,
    'type': 'album',
    'uri': 'spotify:album:1klALx0u4AavZNEvC4LrTL'},
   'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
     'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
     'id': '3WrFJ7ztbogyGnTHbHJFl2',
     'name': 'The Beatles',
     'type': 'artist',
     'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
   'disc_number': 1,
   'duration_ms': 138386,
   'explicit': False,
   'external_ids': {'isrc': 'GBAYE0601654'},
   'external_urls': {'spotify': 'https://open.spotify.com/track/5jgFfDIR6FR0gvlA56Nakr'},
   'href': 'https://api.spotify.com/v1/tracks/5jgFfDIR6FR0gvlA56Nakr',
   'id': '5jgFfDIR6FR0gvlA56Nakr',
   'is_local': False,
   'is_playable': True,
   'name': 'Blackbird - Remastered 2009',
   'popularity': 73,
   'preview_url': 'https://p.scdn.co/mp3-preview/9cd5790f74f29046953ef511c3737a1121785b73?cid=f78a4f4cfe9c40ea8fe346b0576e98ea',
   'track_number': 11,
   'type': 'track',
   'uri': 'spotify:track:5jgFfDIR6FR0gvlA56Nakr'},
  {'album': {'album_type': 'album',
    'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
      'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
      'id': '3WrFJ7ztbogyGnTHbHJFl2',
      'name': 'The Beatles',
      'type': 'artist',
      'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
    'external_urls': {'spotify': 'https://open.spotify.com/album/3KzAvEXcqJKBF97HrXwlgf'},
    'href': 'https://api.spotify.com/v1/albums/3KzAvEXcqJKBF97HrXwlgf',
    'id': '3KzAvEXcqJKBF97HrXwlgf',
    'images': [{'height': 640,
      'url': 'https://i.scdn.co/image/ab67616d0000b273dbeec63ad914c973e75c24df',
      'width': 640},
     {'height': 300,
      'url': 'https://i.scdn.co/image/ab67616d00001e02dbeec63ad914c973e75c24df',
      'width': 300},
     {'height': 64,
      'url': 'https://i.scdn.co/image/ab67616d00004851dbeec63ad914c973e75c24df',
      'width': 64}],
    'name': 'Please Please Me (Remastered)',
    'release_date': '1963-03-22',
    'release_date_precision': 'day',
    'total_tracks': 14,
    'type': 'album',
    'uri': 'spotify:album:3KzAvEXcqJKBF97HrXwlgf'},
   'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
     'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
     'id': '3WrFJ7ztbogyGnTHbHJFl2',
     'name': 'The Beatles',
     'type': 'artist',
     'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
   'disc_number': 1,
   'duration_ms': 155226,
   'explicit': False,
   'external_ids': {'isrc': 'GBAYE0601423'},
   'external_urls': {'spotify': 'https://open.spotify.com/track/5ZBeML7Lf3FMEVviTyvi8l'},
   'href': 'https://api.spotify.com/v1/tracks/5ZBeML7Lf3FMEVviTyvi8l',
   'id': '5ZBeML7Lf3FMEVviTyvi8l',
   'is_local': False,
   'is_playable': True,
   'name': 'Twist And Shout - Remastered 2009',
   'popularity': 73,
   'preview_url': 'https://p.scdn.co/mp3-preview/b7e3bc96b46e4dcc22cec5d23337d2446cb0ab87?cid=f78a4f4cfe9c40ea8fe346b0576e98ea',
   'track_number': 14,
   'type': 'track',
   'uri': 'spotify:track:5ZBeML7Lf3FMEVviTyvi8l'},
  {'album': {'album_type': 'album',
    'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
      'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
      'id': '3WrFJ7ztbogyGnTHbHJFl2',
      'name': 'The Beatles',
      'type': 'artist',
      'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
    'external_urls': {'spotify': 'https://open.spotify.com/album/50o7kf2wLwVmOTVYJOTplm'},
    'href': 'https://api.spotify.com/v1/albums/50o7kf2wLwVmOTVYJOTplm',
    'id': '50o7kf2wLwVmOTVYJOTplm',
    'images': [{'height': 640,
      'url': 'https://i.scdn.co/image/ab67616d0000b273ed801e58a9ababdea6ac7ce4',
      'width': 640},
     {'height': 300,
      'url': 'https://i.scdn.co/image/ab67616d00001e02ed801e58a9ababdea6ac7ce4',
      'width': 300},
     {'height': 64,
      'url': 'https://i.scdn.co/image/ab67616d00004851ed801e58a9ababdea6ac7ce4',
      'width': 64}],
    'name': 'Rubber Soul (Remastered)',
    'release_date': '1965-12-03',
    'release_date_precision': 'day',
    'total_tracks': 14,
    'type': 'album',
    'uri': 'spotify:album:50o7kf2wLwVmOTVYJOTplm'},
   'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
     'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
     'id': '3WrFJ7ztbogyGnTHbHJFl2',
     'name': 'The Beatles',
     'type': 'artist',
     'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
   'disc_number': 1,
   'duration_ms': 146333,
   'explicit': False,
   'external_ids': {'isrc': 'GBAYE0601489'},
   'external_urls': {'spotify': 'https://open.spotify.com/track/3KfbEIOC7YIv90FIfNSZpo'},
   'href': 'https://api.spotify.com/v1/tracks/3KfbEIOC7YIv90FIfNSZpo',
   'id': '3KfbEIOC7YIv90FIfNSZpo',
   'is_local': False,
   'is_playable': True,
   'name': 'In My Life - Remastered 2009',
   'popularity': 72,
   'preview_url': 'https://p.scdn.co/mp3-preview/729eb2814049fdf4e8b62b614e459be1a55b5040?cid=f78a4f4cfe9c40ea8fe346b0576e98ea',
   'track_number': 11,
   'type': 'track',
   'uri': 'spotify:track:3KfbEIOC7YIv90FIfNSZpo'},
  {'album': {'album_type': 'album',
    'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
      'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
      'id': '3WrFJ7ztbogyGnTHbHJFl2',
      'name': 'The Beatles',
      'type': 'artist',
      'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
    'external_urls': {'spotify': 'https://open.spotify.com/album/7vEJAtP3KgKSpOHVgwm3Eh'},
    'href': 'https://api.spotify.com/v1/albums/7vEJAtP3KgKSpOHVgwm3Eh',
    'id': '7vEJAtP3KgKSpOHVgwm3Eh',
    'images': [{'height': 640,
      'url': 'https://i.scdn.co/image/ab67616d0000b273582d56ce20fe0146ffa0e5cf',
      'width': 640},
     {'height': 300,
      'url': 'https://i.scdn.co/image/ab67616d00001e02582d56ce20fe0146ffa0e5cf',
      'width': 300},
     {'height': 64,
      'url': 'https://i.scdn.co/image/ab67616d00004851582d56ce20fe0146ffa0e5cf',
      'width': 64}],
    'name': '1 (Remastered)',
    'release_date': '2000-11-13',
    'release_date_precision': 'day',
    'total_tracks': 27,
    'type': 'album',
    'uri': 'spotify:album:7vEJAtP3KgKSpOHVgwm3Eh'},
   'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
     'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
     'id': '3WrFJ7ztbogyGnTHbHJFl2',
     'name': 'The Beatles',
     'type': 'artist',
     'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
   'disc_number': 1,
   'duration_ms': 145746,
   'explicit': False,
   'external_ids': {'isrc': 'GBUM71505904'},
   'external_urls': {'spotify': 'https://open.spotify.com/track/4pbG9SUmWIvsROVLF0zF9s'},
   'href': 'https://api.spotify.com/v1/tracks/4pbG9SUmWIvsROVLF0zF9s',
   'id': '4pbG9SUmWIvsROVLF0zF9s',
   'is_local': False,
   'is_playable': True,
   'name': 'I Want To Hold Your Hand - Remastered 2015',
   'popularity': 71,
   'preview_url': 'https://p.scdn.co/mp3-preview/d7e6b26957825e64b3546bd7365b74baa1ce3046?cid=f78a4f4cfe9c40ea8fe346b0576e98ea',
   'track_number': 4,
   'type': 'track',
   'uri': 'spotify:track:4pbG9SUmWIvsROVLF0zF9s'},
  {'album': {'album_type': 'album',
    'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
      'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
      'id': '3WrFJ7ztbogyGnTHbHJFl2',
      'name': 'The Beatles',
      'type': 'artist',
      'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}],
    'external_urls': {'spotify': 'https://open.spotify.com/album/0PT5m6hwPRrpBwIHVnvbFX'},
    'href': 'https://api.spotify.com/v1/albums/0PT5m6hwPRrpBwIHVnvbFX',
    'id': '0PT5m6hwPRrpBwIHVnvbFX',
    'images': [{'height': 640,
      'url': 'https://i.scdn.co/image/ab67616d0000b273e3e3b64cea45265469d4cafa',
      'width': 640},
     {'height': 300,
      'url': 'https://i.scdn.co/image/ab67616d00001e02e3e3b64cea45265469d4cafa',
      'width': 300},
     {'height': 64,
      'url': 'https://i.scdn.co/image/ab67616d00004851e3e3b64cea45265469d4cafa',
      'width': 64}],
    'name': 'Help! (Remastered)',

In [29]:
top_tracks = []

In [30]:
for track in get_tracks['tracks'][:10]:
    top_tracks.append(track['name'])

In [31]:
top_tracks

['Here Comes The Sun - Remastered 2009',
 'Come Together - Remastered 2009',
 'Let It Be - Remastered 2009',
 'Yesterday - Remastered 2009',
 'Hey Jude - Remastered 2015',
 'Blackbird - Remastered 2009',
 'Twist And Shout - Remastered 2009',
 'In My Life - Remastered 2009',
 'I Want To Hold Your Hand - Remastered 2015',
 'Help! - Remastered 2009']

In [32]:
get_related_artists = sp.artist_related_artists(get_artist)

In [33]:
get_related_artists

{'artists': [{'external_urls': {'spotify': 'https://open.spotify.com/artist/4x1nvY2FN8jxqAFA0DA02H'},
   'followers': {'href': None, 'total': 3974023},
   'genres': ['album rock',
    'art rock',
    'beatlesque',
    'classic rock',
    'folk rock',
    'mellow gold',
    'rock'],
   'href': 'https://api.spotify.com/v1/artists/4x1nvY2FN8jxqAFA0DA02H',
   'id': '4x1nvY2FN8jxqAFA0DA02H',
   'images': [{'height': 640,
     'url': 'https://i.scdn.co/image/bb44a853b1bae0d3ad25816af544085791f09600',
     'width': 640},
    {'height': 320,
     'url': 'https://i.scdn.co/image/2b6ffb524bdaaba9c8d690368d4eed9c60fce0dd',
     'width': 320},
    {'height': 160,
     'url': 'https://i.scdn.co/image/af2e1986a819b2c79a3ba67ee10c17fc93374818',
     'width': 160}],
   'name': 'John Lennon',
   'popularity': 75,
   'type': 'artist',
   'uri': 'spotify:artist:4x1nvY2FN8jxqAFA0DA02H'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/7FIoB5PHdrMZVC3q2HE5MS'},
   'followers': {'href': None, 'total': 1762478},
   'genres': ['album rock',
    'beatlesque',
    'classic rock',
    'folk rock',
    'mellow gold',
    'psychedelic rock',
    'rock',
    'roots rock',
    'soft rock'],
   'href': 'https://api.spotify.com/v1/artists/7FIoB5PHdrMZVC3q2HE5MS',
   'id': '7FIoB5PHdrMZVC3q2HE5MS',
   'images': [{'height': 640,
     'url': 'https://i.scdn.co/image/8d1b36f226245c6c6d5f9fa1d020f95a5e0d3253',
     'width': 640},
    {'height': 320,
     'url': 'https://i.scdn.co/image/f00aa2a0bbeec665b9abe0d6b63399284e0ecf50',
     'width': 320},
    {'height': 160,
     'url': 'https://i.scdn.co/image/a10910e67b10a62eec462f5c46cebe149a860e6a',
     'width': 160}],
   'name': 'George Harrison',
   'popularity': 73,
   'type': 'artist',
   'uri': 'spotify:artist:7FIoB5PHdrMZVC3q2HE5MS'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/4STHEaNw4mPZ2tzheohgXB'},
   'followers': {'href': None, 'total': 3385813},
   'genres': ['album rock',
    'art rock',
    'beatlesque',
    'classic rock',
    'folk rock',
    'mellow gold',
    'rock',
    'soft rock'],
   'href': 'https://api.spotify.com/v1/artists/4STHEaNw4mPZ2tzheohgXB',
   'id': '4STHEaNw4mPZ2tzheohgXB',
   'images': [{'height': 640,
     'url': 'https://i.scdn.co/image/144e83691af185e352e4bab7fd396f94ca285204',
     'width': 640},
    {'height': 320,
     'url': 'https://i.scdn.co/image/4fd90313067d2096aaeb7672a147280b8fdc9223',
     'width': 320},
    {'height': 160,
     'url': 'https://i.scdn.co/image/028e597ade5623ef43673617e6d2e86634a3629a',
     'width': 160}],
   'name': 'Paul McCartney',
   'popularity': 76,
   'type': 'artist',
   'uri': 'spotify:artist:4STHEaNw4mPZ2tzheohgXB'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/3oDbviiivRWhXwIE8hxkVV'},
   'followers': {'href': None, 'total': 3012812},
   'genres': ['baroque pop',
    'brill building pop',
    'classic rock',
    'folk rock',
    'psychedelic rock',
    'rock',
    'sunshine pop'],
   'href': 'https://api.spotify.com/v1/artists/3oDbviiivRWhXwIE8hxkVV',
   'id': '3oDbviiivRWhXwIE8hxkVV',
   'images': [{'height': 640,
     'url': 'https://i.scdn.co/image/5fb9bc3a8a82b24708b91ee3a4beb5eda79bd16a',
     'width': 640},
    {'height': 320,
     'url': 'https://i.scdn.co/image/fef13b22be2518576c09ba703efcea3c955c382a',
     'width': 320},
    {'height': 160,
     'url': 'https://i.scdn.co/image/c82f49238910c8ddee722fe1be67a7d22cdb6451',
     'width': 160}],
   'name': 'The Beach Boys',
   'popularity': 77,
   'type': 'artist',
   'uri': 'spotify:artist:3oDbviiivRWhXwIE8hxkVV'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/6DbJi8AcN5ANdtvJcwBSw8'},
   'followers': {'href': None, 'total': 618092},
   'genres': ['album rock',
    'beatlesque',
    'bubblegum pop',
    'classic rock',
    'folk rock',
    'mellow gold',
    'merseybeat',
    'rock',
    'rock drums',
    'soft rock'],
   'href': 'https://api.spotify.com/v1/artists/6DbJi8AcN5ANdtvJcwBSw8',
   'id': '6DbJi8AcN5ANdtvJcwBSw8',
   'images': [{'height': 1000,
     'url': 'https://i.scdn.co/image/ada80ca0baba4c9dad0f88d8e8109ac3260372b9',
     'width': 1000},
    {'height': 640,
     'url': 'https://i.scdn.co/image/e7f2b6f49a404ac0f8d6a0dd5910ab6421cef573',
     'width': 640},
    {'height': 200,
     'url': 'https://i.scdn.co/image/e5de2ea2190fbb334d52bab3ea74f16989ff56db',
     'width': 200},
    {'height': 64,
     'url': 'https://i.scdn.co/image/7bb9b0b4f66e557f7e3b98051ae1a6dc12951f69',
     'width': 64}],
   'name': 'Ringo Starr',
   'popularity': 55,
   'type': 'artist',
   'uri': 'spotify:artist:6DbJi8AcN5ANdtvJcwBSw8'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/1SQRv42e4PjEYfPhS0Tk9E'},
   'followers': {'href': None, 'total': 1790679},
   'genres': ['album rock',
    'art rock',
    'british invasion',
    'classic rock',
    'dance rock',
    'folk rock',
    'glam rock',
    'mellow gold',
    'protopunk',
    'psychedelic rock',
    'rock',
    'roots rock'],
   'href': 'https://api.spotify.com/v1/artists/1SQRv42e4PjEYfPhS0Tk9E',
   'id': '1SQRv42e4PjEYfPhS0Tk9E',
   'images': [{'height': 1203,
     'url': 'https://i.scdn.co/image/b2e933a1a7ae670aa2e217c79710fe2f18ebad3d',
     'width': 1000},
    {'height': 770,
     'url': 'https://i.scdn.co/image/e1a06bdd4859a12c4d68b13c24aedb926a11f624',
     'width': 640},
    {'height': 241,
     'url': 'https://i.scdn.co/image/a182af94cb50cee61692e8ef867daa869dafad39',
     'width': 200},
    {'height': 77,
     'url': 'https://i.scdn.co/image/46546858cdeed01b9d88ee02d61249b860edf9ac',
     'width': 64}],
   'name': 'The Kinks',
   'popularity': 72,
   'type': 'artist',
   'uri': 'spotify:artist:1SQRv42e4PjEYfPhS0Tk9E'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/22bE4uQ6baNwSHPVcDxLCe'},
   'followers': {'href': None, 'total': 9830298},
   'genres': ['british invasion', 'classic rock', 'rock'],
   'href': 'https://api.spotify.com/v1/artists/22bE4uQ6baNwSHPVcDxLCe',
   'id': '22bE4uQ6baNwSHPVcDxLCe',
   'images': [{'height': 640,
     'url': 'https://i.scdn.co/image/85d9cb252ab4d8410d31820be40214c59f2597a1',
     'width': 640},
    {'height': 320,
     'url': 'https://i.scdn.co/image/a4c446c1c5beec7ba12861f04cb45490f8addf18',
     'width': 320},
    {'height': 160,
     'url': 'https://i.scdn.co/image/2127bd7c41bfbdb62fe17ebe03a144621545332a',
     'width': 160}],
   'name': 'The Rolling Stones',
   'popularity': 84,
   'type': 'artist',
   'uri': 'spotify:artist:22bE4uQ6baNwSHPVcDxLCe'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/74ASZWbe4lXaubB36ztrGX'},
   'followers': {'href': None, 'total': 4872510},
   'genres': ['classic rock',
    'country rock',
    'folk',
    'folk rock',
    'mellow gold',
    'rock',
    'roots rock',
    'singer-songwriter'],
   'href': 'https://api.spotify.com/v1/artists/74ASZWbe4lXaubB36ztrGX',
   'id': '74ASZWbe4lXaubB36ztrGX',
   'images': [{'height': 1000,
     'url': 'https://i.scdn.co/image/ab6772690000c46cf79ca05dcc1581c712bf3658',
     'width': 1000},
    {'height': 640,
     'url': 'https://i.scdn.co/image/ab6772690000dd22f79ca05dcc1581c712bf3658',
     'width': 640},
    {'height': 200,
     'url': 'https://i.scdn.co/image/ab6772690000bac3f79ca05dcc1581c712bf3658',
     'width': 200},
    {'height': 64,
     'url': 'https://i.scdn.co/image/ab67726900008f74f79ca05dcc1581c712bf3658',
     'width': 64}],
   'name': 'Bob Dylan',
   'popularity': 78,
   'type': 'artist',
   'uri': 'spotify:artist:74ASZWbe4lXaubB36ztrGX'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/6waa8mKu91GjzD4NlONlNJ'},
   'followers': {'href': None, 'total': 773472},
   'genres': ['album rock',
    'art rock',
    'brill building pop',
    'british invasion',
    'bubblegum pop',
    'classic rock',
    'classic uk pop',
    'country rock',
    'folk',
    'folk rock',
    'mellow gold',
    'merseybeat',
    'psychedelic rock',
    'rock',
    'rock-and-roll',
    'soft rock'],
   'href': 'https://api.spotify.com/v1/artists/6waa8mKu91GjzD4NlONlNJ',
   'id': '6waa8mKu91GjzD4NlONlNJ',
   'images': [{'height': 600,
     'url': 'https://i.scdn.co/image/722e36849bde408b99330c713ebeb19157eabc89',
     'width': 603},
    {'height': 199,
     'url': 'https://i.scdn.co/image/370be1cac834984b90b117db8bc018bb0337a6d9',
     'width': 200},
    {'height': 64,
     'url': 'https://i.scdn.co/image/b3c6240bac22dcb19cc689b7d1002cf6cf4508e5',
     'width': 64}],
   'name': 'The Hollies',
   'popularity': 67,
   'type': 'artist',
   'uri': 'spotify:artist:6waa8mKu91GjzD4NlONlNJ'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/70cRZdQywnSFp9pnc2WTCE'},
   'followers': {'href': None, 'total': 3261314},
   'genres': ['classic rock',
    'folk',
    'folk rock',
    'melancholia',
    'mellow gold',
    'rock'],
   'href': 'https://api.spotify.com/v1/artists/70cRZdQywnSFp9pnc2WTCE',
   'id': '70cRZdQywnSFp9pnc2WTCE',
   'images': [{'height': 1241,
     'url': 'https://i.scdn.co/image/afde2fdd14f8c8ca23393f257e3a369a234a24b6',
     'width': 1000},
    {'height': 794,
     'url': 'https://i.scdn.co/image/3bffe5e67788e9e64a4f8368f1010f20c269d518',
     'width': 640},
    {'height': 248,
     'url': 'https://i.scdn.co/image/852145f3972cb8b6c431ca7b1c9d5bc839a8a06a',
     'width': 200},
    {'height': 79,
     'url': 'https://i.scdn.co/image/b32f349333d0710b002b0439fc504558e46bcb07',
     'width': 64}],
   'name': 'Simon & Garfunkel',
   'popularity': 77,
   'type': 'artist',
   'uri': 'spotify:artist:70cRZdQywnSFp9pnc2WTCE'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/1PCZpxHJz7WAMF8EEq8bfc'},
   'followers': {'href': None, 'total': 683341},
   'genres': ['art rock',
    'beatlesque',
    'blues rock',
    'brill building pop',
    'classic rock',
    'classic uk pop',
    'cosmic american',
    'country rock',
    'folk',
    'folk rock',
    'mellow gold',
    'psychedelic rock',
    'rock',
    'roots rock',
    'soft rock',
    'traditional folk'],
   'href': 'https://api.spotify.com/v1/artists/1PCZpxHJz7WAMF8EEq8bfc',
   'id': '1PCZpxHJz7WAMF8EEq8bfc',
   'images': [{'height': 685,
     'url': 'https://i.scdn.co/image/f1cf7faba3223b4be7a0734f7c5cccaa39630570',
     'width': 1000},
    {'height': 438,
     'url': 'https://i.scdn.co/image/9014ce8dd793ae2c80b4463284a18c88b161dd4c',
     'width': 640},
    {'height': 137,
     'url': 'https://i.scdn.co/image/386b72509c3c8eb7d180b2d051e4c4045802c8fd',
     'width': 200},
    {'height': 44,
     'url': 'https://i.scdn.co/image/8799661e8b2ef6d9ed1809163a82898ef472c781',
     'width': 64}],
   'name': 'The Byrds',
   'popularity': 63,
   'type': 'artist',
   'uri': 'spotify:artist:1PCZpxHJz7WAMF8EEq8bfc'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/3sFhA6G1N0gG1pszb6kk1m'},
   'followers': {'href': None, 'total': 630168},
   'genres': ['album rock',
    'art rock',
    'beatlesque',
    'classic rock',
    'folk rock',
    'mellow gold',
    'rock',
    'soft rock'],
   'href': 'https://api.spotify.com/v1/artists/3sFhA6G1N0gG1pszb6kk1m',
   'id': '3sFhA6G1N0gG1pszb6kk1m',
   'images': [{'height': 184,
     'url': 'https://i.scdn.co/image/826d206c73f95f1353383c17f27f22aeb628369a',
     'width': 220},
    {'height': 167,
     'url': 'https://i.scdn.co/image/fc2d3f153a9d23ef23571795307c8e28b9ca4de6',
     'width': 200},
    {'height': 54,
     'url': 'https://i.scdn.co/image/9adcfb5edc04be0afeaef062c4f689c4a2039bad',
     'width': 64}],
   'name': 'Wings',
   'popularity': 69,
   'type': 'artist',
   'uri': 'spotify:artist:3sFhA6G1N0gG1pszb6kk1m'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/3wYyutjgII8LJVVOLrGI0D'},
   'followers': {'href': None, 'total': 836434},
   'genres': ['adult standards',
    'brill building pop',
    'folk rock',
    'lounge',
    'rock-and-roll',
    'rockabilly'],
   'href': 'https://api.spotify.com/v1/artists/3wYyutjgII8LJVVOLrGI0D',
   'id': '3wYyutjgII8LJVVOLrGI0D',
   'images': [{'height': 1266,
     'url': 'https://i.scdn.co/image/ff6c6ecd90618f5fb0f8fbf51bf8477586c8843b',
     'width': 1000},
    {'height': 810,
     'url': 'https://i.scdn.co/image/a6f9cbb13f743c1b397e73e77d564603ea8a7c1a',
     'width': 640},
    {'height': 253,
     'url': 'https://i.scdn.co/image/6291c6dce69ccc5bf017a2a348c8b7e507882e0c',
     'width': 200},
    {'height': 81,
     'url': 'https://i.scdn.co/image/b187258df5341858dbc1d4c09fc098a9a7aedbab',
     'width': 64}],
   'name': 'Buddy Holly',
   'popularity': 63,
   'type': 'artist',
   'uri': 'spotify:artist:3wYyutjgII8LJVVOLrGI0D'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/293zczrfYafIItmnmM3coR'},
   'followers': {'href': None, 'total': 1334118},
   'genres': ['adult standards',
    'blues rock',
    'classic rock',
    'folk rock',
    'rock',
    'rock-and-roll',
    'rockabilly',
    'soul'],
   'href': 'https://api.spotify.com/v1/artists/293zczrfYafIItmnmM3coR',
   'id': '293zczrfYafIItmnmM3coR',
   'images': [{'height': 1198,
     'url': 'https://i.scdn.co/image/d58323616d4f5d22b51e9dfe0ba53aedabe53cd4',
     'width': 1000},
    {'height': 766,
     'url': 'https://i.scdn.co/image/7cfff5d03c5f80539eebba8827e8569c71898ea4',
     'width': 640},
    {'height': 240,
     'url': 'https://i.scdn.co/image/dd7b763fb49c35b1ebaadf3695156aeb7d9f9ca3',
     'width': 200},
    {'height': 77,
     'url': 'https://i.scdn.co/image/127a6c846e601f5201e4e4bc19d43c388da97b99',
     'width': 64}],
   'name': 'Chuck Berry',
   'popularity': 71,
   'type': 'artist',
   'uri': 'spotify:artist:293zczrfYafIItmnmM3coR'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/6vLlQYujOujIrm7zAKzEdG'},
   'followers': {'href': None, 'total': 489665},
   'genres': ['art rock',
    'brill building pop',
    'british folk',
    'british invasion',
    'classic rock',
    'country rock',
    'folk',
    'folk rock',
    'glam rock',
    'mellow gold',
    'psychedelic folk',
    'psychedelic rock',
    'rock',
    'roots rock',
    'scottish singer-songwriter',
    'traditional folk'],
   'href': 'https://api.spotify.com/v1/artists/6vLlQYujOujIrm7zAKzEdG',
   'id': '6vLlQYujOujIrm7zAKzEdG',
   'images': [{'height': 1050,
     'url': 'https://i.scdn.co/image/bf943d479f305acd31a977ccc8c17643ea51c3cb',
     'width': 1000},
    {'height': 672,
     'url': 'https://i.scdn.co/image/3cb6e479d1fda9f1c64c7299b17b1722f9be0c84',
     'width': 640},
    {'height': 210,
     'url': 'https://i.scdn.co/image/d99456f1808f186974306603d7f12e12e55ff4e3',
     'width': 200},
    {'height': 67,
     'url': 'https://i.scdn.co/image/ecf79d16904648f849c12372569a83d9f75d2f50',
     'width': 64}],
   'name': 'Donovan',
   'popularity': 62,
   'type': 'artist',
   'uri': 'spotify:artist:6vLlQYujOujIrm7zAKzEdG'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/776Uo845nYHJpNaStv1Ds4'},
   'followers': {'href': None, 'total': 4753187},
   'genres': ['acid rock',
    'blues rock',
    'classic rock',
    'psychedelic rock',
    'rock'],
   'href': 'https://api.spotify.com/v1/artists/776Uo845nYHJpNaStv1Ds4',
   'id': '776Uo845nYHJpNaStv1Ds4',
   'images': [{'height': 640,
     'url': 'https://i.scdn.co/image/14ce65949a921e76421a0164c17f9ebe0a8d76e8',
     'width': 640},
    {'height': 320,
     'url': 'https://i.scdn.co/image/4b558965f7e515f73d68964b7ca364c950a0b815',
     'width': 320},
    {'height': 160,
     'url': 'https://i.scdn.co/image/eb9a1d6414f7693a32c0bd0c4422e0fa26110d2a',
     'width': 160}],
   'name': 'Jimi Hendrix',
   'popularity': 76,
   'type': 'artist',
   'uri': 'spotify:artist:776Uo845nYHJpNaStv1Ds4'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/0JDkhL4rjiPNEp92jAgJnS'},
   'followers': {'href': None, 'total': 1203920},
   'genres': ['adult standards',
    'brill building pop',
    'folk rock',
    'mellow gold',
    'rock-and-roll',
    'rockabilly'],
   'href': 'https://api.spotify.com/v1/artists/0JDkhL4rjiPNEp92jAgJnS',
   'id': '0JDkhL4rjiPNEp92jAgJnS',
   'images': [{'height': 640,
     'url': 'https://i.scdn.co/image/846e8808178b1b66a5220f947185dc91b89f6f5b',
     'width': 640},
    {'height': 320,
     'url': 'https://i.scdn.co/image/02f851191e49bdd2fa6ea0f48249c29bf3f83e02',
     'width': 320},
    {'height': 160,
     'url': 'https://i.scdn.co/image/eb0071dff0b03dc8d7b3f91c92277c0480c30b32',
     'width': 160}],
   'name': 'Roy Orbison',
   'popularity': 70,
   'type': 'artist',
   'uri': 'spotify:artist:0JDkhL4rjiPNEp92jAgJnS'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/6PAt558ZEZl0DmdXlnjMgD'},
   'followers': {'href': None, 'total': 4070954},
   'genres': ['album rock',
    'blues rock',
    'classic rock',
    'electric blues',
    'mellow gold',
    'rock',
    'soft rock'],
   'href': 'https://api.spotify.com/v1/artists/6PAt558ZEZl0DmdXlnjMgD',
   'id': '6PAt558ZEZl0DmdXlnjMgD',
   'images': [{'height': 1000,
     'url': 'https://i.scdn.co/image/4848283fa07f0846bd312fa9d49dae7ef6da3fff',
     'width': 1000},
    {'height': 640,
     'url': 'https://i.scdn.co/image/5a60db69c987080bfcca247a310ec16a03d8b59b',
     'width': 640},
    {'height': 200,
     'url': 'https://i.scdn.co/image/7d3873807eb060ba5022e1bac3803563c638e87b',
     'width': 200},
    {'height': 64,
     'url': 'https://i.scdn.co/image/2dd8c9596df330c6ac520cdef7a25e5c284146d9',
     'width': 64}],
   'name': 'Eric Clapton',
   'popularity': 78,
   'type': 'artist',
   'uri': 'spotify:artist:6PAt558ZEZl0DmdXlnjMgD'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/4pJCawaKSZ40EnxN0YEYw3'},
   'followers': {'href': None, 'total': 237312},
   'genres': ['album rock',
    'art rock',
    'beatlesque',
    'blues rock',
    'bubblegum pop',
    'classic rock',
    'classic uk pop',
    'country rock',
    'folk rock',
    'jangle pop',
    'mellow gold',
    'power pop',
    'psychedelic rock',
    'rock',
    'roots rock',
    'soft rock',
    'symphonic rock'],
   'href': 'https://api.spotify.com/v1/artists/4pJCawaKSZ40EnxN0YEYw3',
   'id': '4pJCawaKSZ40EnxN0YEYw3',
   'images': [{'height': 661,
     'url': 'https://i.scdn.co/image/b97b494de7eb8619b1e2765ec5b0fe327e09b809',
     'width': 999},
    {'height': 423,
     'url': 'https://i.scdn.co/image/d80121becf0eb4e021ec3cd39762fd320be70007',
     'width': 640},
    {'height': 132,
     'url': 'https://i.scdn.co/image/e913493308e8df58e5b6e96023661bf956e65e87',
     'width': 200},
    {'height': 42,
     'url': 'https://i.scdn.co/image/7e4816b259ce8981601f5be5270b3fa134c60776',
     'width': 64}],
   'name': 'Badfinger',
   'popularity': 58,
   'type': 'artist',
   'uri': 'spotify:artist:4pJCawaKSZ40EnxN0YEYw3'},
  {'external_urls': {'spotify': 'https://open.spotify.com/artist/43ZHCT0cAZBISjO8DG9PnE'},
   'followers': {'href': None, 'total': 5154046},
   'genres': ['adult standards', 'rock-and-roll', 'rockabilly'],
   'href': 'https://api.spotify.com/v1/artists/43ZHCT0cAZBISjO8DG9PnE',
   'id': '43ZHCT0cAZBISjO8DG9PnE',
   'images': [{'height': 640,
     'url': 'https://i.scdn.co/image/5629fbf1c4e0bc4155eca3e08a2b98065eedd305',
     'width': 640},
    {'height': 320,
     'url': 'https://i.scdn.co/image/de7df722a14208c879f169e26bd7792a9902c7ba',
     'width': 320},
    {'height': 160,
     'url': 'https://i.scdn.co/image/11386c4abb5bdf71a86862cdb1a5390f37a7d8a5',
     'width': 160}],
   'name': 'Elvis Presley',
   'popularity': 82,
   'type': 'artist',
   'uri': 'spotify:artist:43ZHCT0cAZBISjO8DG9PnE'}]}

In [34]:
related_artists = []
for artist in get_related_artists['artists'][:10]:
    related_artists.append(artist['name'])

In [35]:
related_artists

['John Lennon',
 'George Harrison',
 'Paul McCartney',
 'The Beach Boys',
 'Ringo Starr',
 'The Kinks',
 'The Rolling Stones',
 'Bob Dylan',
 'The Hollies',
 'Simon & Garfunkel']

In [36]:
artist = sp.artist(get_artist)

In [37]:
artist

{'external_urls': {'spotify': 'https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2'},
 'followers': {'href': None, 'total': 18768829},
 'genres': ['beatlesque',
  'british invasion',
  'classic rock',
  'merseybeat',
  'psychedelic rock',
  'rock'],
 'href': 'https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2',
 'id': '3WrFJ7ztbogyGnTHbHJFl2',
 'images': [{'height': 640,
   'url': 'https://i.scdn.co/image/6b2a709752ef9c7aaf0d270344157f6cd2e0f1a7',
   'width': 640},
  {'height': 320,
   'url': 'https://i.scdn.co/image/1047bf172446f2a815a99ab0a0395099d621be51',
   'width': 320},
  {'height': 160,
   'url': 'https://i.scdn.co/image/0561b59a91a5e904ad2d192747715688d5f05012',
   'width': 160}],
 'name': 'The Beatles',
 'popularity': 89,
 'type': 'artist',
 'uri': 'spotify:artist:3WrFJ7ztbogyGnTHbHJFl2'}

In [38]:
artist_genres = artist['genres']

In [39]:
artist_genres

['beatlesque',
 'british invasion',
 'classic rock',
 'merseybeat',
 'psychedelic rock',
 'rock']

### Build Dataset Features

In [40]:
def get_genres(row):
    artist = row['artist_name']
    uri = sp.search(artist)['tracks']['items'][0]['album']['artists'][0]['uri']
    artist_info = sp.artist(uri)
    genres = artist_info['genres']
    row['genres'] = genres
    return row

In [41]:
def get_related_artists(uri):
    related = sp.artist_related_artists(uri)
    related_lst = []
    for artist in related['artists'][:5]:
        related_lst.append(artist['name'])
    return related_lst

In [42]:
def get_top_tracks(uri):
    top_tracks = sp.artist_top_tracks(uri)
    top_lst = []
    for track in top_tracks['tracks'][:5]:
        top_lst.append(track['name'])
    return top_lst

In [43]:
def extract_features(row):
    artist = row['artist_name']
    uri = sp.search(artist)['tracks']['items'][0]['album']['artists'][0]['uri']
    related_artists_extracted = get_related_artist(uri)
    top_tracks_extracted = get_top_tracks(uri)
    artist_info = sp.artist(uri)
    genres = artist_info['genres']
    popularity = artist_info['popularity']
    followers = artist_info['followers']['total']
    row['uri'] = uri
    row['genres'] = genres
    row['related_artists'] = related_artists_extracted
    row['top_tracks'] = top_tracks_extracted
    row['popularity'] = popularity
    row['followers'] = followers
    return row

In [44]:
top_artists = most_occurrence

In [45]:
top_artists.reset_index(level=0, inplace=True)

In [46]:
top_artists = top_artists[top_artists['plays'] > 10]

In [47]:
top_artists

            artist_name  plays
0           the beatles    318
1    the rolling stones    212
2             bob dylan    185
3               the who    145
4            pink floyd    135
..                  ...    ...
777        joshua radin     11
778     whitney houston     11
779         george duke     11
780          vince gill     11
781          perry como     11

[782 rows x 2 columns]

In [48]:
#top_artist_df = top_artists.apply(extract_features, axis=1)

In [49]:
#top_artist_df

In [50]:
#selection = ['country']

In [51]:
#top_artist_df = top_artist_df[top_artist_df.genres.apply(lambda x: bool(set(x) & set(selection)))]

In [52]:
#top_artist_df

In [53]:
#top_tracks = pd.DataFrame(top_artist_df['top_tracks'].explode().reset_index(drop=True))

In [54]:
#top_tracks.columns = ['track_name']

In [55]:
#top_tracks = top_tracks[:100]

In [56]:
#top_tracks

In [57]:
def extract_track_features(row):
    uri = sp.search(row)['tracks']['items'][0]['uri']
    features = sp.audio_features(uri)[0]
    dance = features['danceability']
    energy = features['energy']
    key = features['key']
    loudness = features['loudness']
    mode = features['mode']
    speech = features['speechiness']
    acoustic = features['acousticness']
    instrument = features['instrumentalness']
    live = features['liveness']
    valence = features['valence']
    tempo = features['tempo']
    return uri, dance, energy, key, loudness, mode, speech, acoustic, instrument, live, valence, tempo

In [58]:
#top_tracks['uri'], top_tracks['danceability'], top_tracks['energy'], top_tracks['key'], top_tracks['loudness'], top_tracks['mode'], top_tracks['speechiness'], top_tracks['acousticness'], top_tracks['instrumentalness'], top_tracks['liveness'], top_tracks['valence'], top_tracks['valence'] = zip(*top_tracks['track_name'].apply(extract_track_features))

In [59]:
#top_tracks

### Building CF Algorithm

### Implicit

In [60]:
import scipy.sparse as sparse
import numpy as np
import random
import implicit
from sklearn.preprocessing import MinMaxScaler

In [61]:
ap = chosen_history

In [62]:
#artist_rank = ap.groupby(['artist_name']) \
  #.agg({'user_id' : 'count', 'plays' : 'sum'}) \
  #.rename(columns={"user_id" : 'totalUniqueUsers', "plays" : "totalArtistPlays"}) \
  #.sort_values(['totalArtistPlays'], ascending=False)
#artist_rank['avgUserPlays'] = artist_rank['totalArtistPlays'] / artist_rank['totalUniqueUsers']

In [63]:
#ap = ap.join(artist_rank, on="artist_name", how="inner") \
  #.sort_values(['plays'], ascending=False)

In [64]:
pc = ap.plays
play_count_scaled = (pc - pc.min()) / (pc.max() - pc.min())
ap = ap.assign(playCountScaled=play_count_scaled)

In [65]:
ap

,user_id,artist_id,artist_name,plays,playCountScaled
473,000912716c36131c4d8591da475c93337e7196a7,02294a9c-c924-4a59-877d-3ee98ee05ae1,sexteto mayor,29,0.000542
474,000912716c36131c4d8591da475c93337e7196a7,4d483147-c871-48c4-8470-85e5a66381c5,celtic woman,24,0.000445
475,000912716c36131c4d8591da475c93337e7196a7,7629ca32-b4fd-4598-aa20-956552826ee3,patrick williams,24,0.000445
476,000912716c36131c4d8591da475c93337e7196a7,4f8ef4a3-40fa-46b5-8773-97686a8424f4,Édith piaf,18,0.000329
477,000912716c36131c4d8591da475c93337e7196a7,3c004c98-aab6-4b63-a2df-e07c98e73b0a,josé feliciano,13,0.000232
...,...,...,...,...,...
2574776,fff1e43c0de9a713783f1c92f65afb0b8b74498b,fcfa9543-e113-4ef9-9ef6-455ba4cbe7af,jim croce,6,0.000097
2574777,fff1e43c0de9a713783f1c92f65afb0b8b74498b,c3649208-0ebe-449b-b1d7-4bd6c560f109,john fogerty,6,0.000097
2574778,fff1e43c0de9a713783f1c92f65afb0b8b74498b,1efadc05-01b5-4a39-9c6f-da5c975276dd,mary gauthier,6,0.000097
2574779,fff1e43c0de9a713783f1c92f65afb0b8b74498b,b9ffd0e7-7f95-46db-bc1c-8094d459f084,nanci griffith,6,0.000097
2574780,fff1e43c0de9a713783f1c92f65afb0b8b74498b,a35237a0-4f47-40a6-b6f3-1e786db23402,rod stewart,6,0.000097

In [66]:
ap = ap.drop_duplicates()
grouped_df = ap.groupby(['user_id', 'artist_id', 'artist_name']).sum().reset_index()

In [67]:
grouped_df['artist_name'] = grouped_df['artist_name'].astype("category")
grouped_df['user_id'] = grouped_df['user_id'].astype("category")
grouped_df['artist_id'] = grouped_df['artist_id'].astype("category")
grouped_df['user_id'] = grouped_df['user_id'].cat.codes
grouped_df['artist_id'] = grouped_df['artist_id'].cat.codes

In [68]:
grouped_df

       user_id  artist_id         artist_name  plays  playCountScaled
0            0        119       sexteto mayor     29         0.000542
1            0        485   libertad lamarque      7         0.000116
2            0        715       daniel santos      9         0.000155
3            0       1393      edmundo rivero      9         0.000155
4            0       1995          leo marini     10         0.000174
...        ...        ...                 ...    ...              ...
42981      874      10700       harry nilsson      6         0.000097
42982      874      10777          john hiatt      7         0.000116
42983      874      10826          john prine      7         0.000116
42984      874      11680  the mills brothers     12         0.000213
42985      874      11765           jim croce      6         0.000097

[42986 rows x 5 columns]

In [69]:
import ipywidgets
from ipywidgets import FloatProgress

### Incorporate User Playlist

In [70]:
r = sp.current_user_playlists()

In [71]:
def parse_playlist_ids(response):
    playlist_ids = []
    for item in response['items']:
        pid = item['id']

        playlist_ids.append(pid)
    return playlist_ids

In [72]:
def parse_track_info(response):
    track_names = []
    artist_names = []
    album_names = []
    
    for item in response['items']:
        # Gets the name of the track
        if item is None or item['track'] is None:
            continue
        track = item['track']['name']
        # Gets the name of the album
        album = item['track']['album']['name']
        # Gets the name of the first artist listed under album artists
        artist = item['track']['album']['artists'][0]['name']
             
        track_names.append(track)
        album_names.append(album)
        artist_names.append(artist) 
    return track_names, album_names, artist_names

In [73]:
playlist_ids = parse_playlist_ids(r)

In [74]:
# Pull all the tracks from a playlist
tracks = []
albums = []
artists = []

In [75]:
artists

[]

In [76]:
# Loop through each playlist one by one
for pid in playlist_ids:
    # Request all track information
    r = sp.playlist_items(pid)
    tracks_pulled, albums_pulled, artists_pulled = parse_track_info(r)
    artists.extend(artists_pulled)

In [77]:
playlist_artists = pd.Series(artists)

In [78]:
playlist_artists.head()

0        Bob Dylan
1    Guns N' Roses
2       Luke Combs
3        Bob Dylan
4        Bob Dylan
dtype: object

In [79]:
playlist_artists.shape

(462,)

In [80]:
playlist_grouped = playlist_artists.value_counts(normalize=True)

In [81]:
playlist_grouped.head()

Travis Scott       0.045455
Ariana Grande      0.015152
Trippie Redd       0.015152
J. Cole            0.015152
Various Artists    0.012987
dtype: float64

In [82]:
no_artist = playlist_grouped.shape[0]

In [83]:
no_artist

267

In [84]:
curr_user = grouped_df.iloc[-1]['user_id'] + 1

In [85]:
curr_user

875

In [86]:
curr_user_id = [curr_user] * no_artist

In [87]:
playlist_df = pd.DataFrame(playlist_grouped, columns=['playCountScaled'])

In [88]:
playlist_df.reset_index(level=0, inplace=True)

In [89]:
playlist_df.columns = ['artist_name', 'playCountScaled']

In [90]:
playlist_df['user_id'] = pd.Series(curr_user_id)

In [91]:
playlist_df

         artist_name  playCountScaled  user_id
0       Travis Scott         0.045455      875
1      Ariana Grande         0.015152      875
2       Trippie Redd         0.015152      875
3            J. Cole         0.015152      875
4    Various Artists         0.012987      875
..               ...              ...      ...
262           Halsey         0.002165      875
263           Inayah         0.002165      875
264          Cannons         0.002165      875
265   Modern English         0.002165      875
266    Glass Animals         0.002165      875

[267 rows x 3 columns]

In [92]:
cols = playlist_df.columns.tolist()

In [93]:
cols = cols[-1:] + cols[:-1]

In [94]:
playlist_df = playlist_df[cols]

In [95]:
playlist_df.head()

   user_id      artist_name  playCountScaled
0      875     Travis Scott         0.045455
1      875    Ariana Grande         0.015152
2      875     Trippie Redd         0.015152
3      875          J. Cole         0.015152
4      875  Various Artists         0.012987

In [96]:
playlist_df['artist_name'] = playlist_df['artist_name'].str.lower()

In [97]:
playlist_df.head()

   user_id      artist_name  playCountScaled
0      875     travis scott         0.045455
1      875    ariana grande         0.015152
2      875     trippie redd         0.015152
3      875          j. cole         0.015152
4      875  various artists         0.012987

In [98]:
grouped_df.head()

   user_id  artist_id        artist_name  plays  playCountScaled
0        0        119      sexteto mayor     29         0.000542
1        0        485  libertad lamarque      7         0.000116
2        0        715      daniel santos      9         0.000155
3        0       1393     edmundo rivero      9         0.000155
4        0       1995         leo marini     10         0.000174

In [99]:
artist_pairing = dict(zip(grouped_df.artist_name, grouped_df.artist_id))

In [100]:
playlist_df['artist_id'] = playlist_df['artist_name'].map(artist_pairing)

In [101]:
playlist_df = playlist_df.dropna().reset_index(drop=True)

In [102]:
playlist_df['artist_id'] = playlist_df['artist_id'].astype(int)

In [103]:
playlist_df.head()

   user_id      artist_name  playCountScaled  artist_id
0      875  various artists         0.012987       6434
1      875        the doors         0.010823       7445
2      875       neil young         0.010823       5427
3      875    elvis presley         0.010823         79
4      875          chicago         0.010823       2940

In [104]:
updated_df = grouped_df.append(playlist_df)

In [105]:
updated_df

    user_id  artist_id               artist_name  plays  playCountScaled
0         0        119             sexteto mayor   29.0         0.000542
1         0        485         libertad lamarque    7.0         0.000116
2         0        715             daniel santos    9.0         0.000155
3         0       1393            edmundo rivero    9.0         0.000155
4         0       1995                leo marini   10.0         0.000174
..      ...        ...                       ...    ...              ...
81      875        599  electric light orchestra    NaN         0.002165
82      875       1216               duran duran    NaN         0.002165
83      875       6663                   genesis    NaN         0.002165
84      875       1501              taylor swift    NaN         0.002165
85      875       5586            modern english    NaN         0.002165

[43072 rows x 5 columns]

In [106]:
updated_df['artist_name'] = updated_df['artist_name'].astype("category")
updated_df['user_id'] = updated_df['user_id'].astype("category")
updated_df['artist_id'] = updated_df['artist_id'].astype("category")
updated_df['user_id'] = updated_df['user_id'].cat.codes
updated_df['artist_id'] = updated_df['artist_id'].cat.codes

In [107]:
sparse_artist_user = sparse.csr_matrix((updated_df['playCountScaled'].astype(float), (updated_df['artist_id'], updated_df['user_id'])))

In [108]:
sparse_user_artist = sparse.csr_matrix((updated_df['playCountScaled'].astype(float), (updated_df['user_id'], updated_df['artist_id'])))

In [109]:
model = implicit.als.AlternatingLeastSquares(factors=20, regularization=0.1, iterations=50)

WARNING:root:OpenBLAS detected. Its highly recommend to set the environment variable 'export OPENBLAS_NUM_THREADS=1' to disable its internal multithreading

In [110]:
alpha = 15
data = (sparse_artist_user * alpha).astype('double')

In [111]:
model.fit(data)

HBox(children=(FloatProgress(value=0.0, max=50.0), HTML(value='')))

In [112]:
user_vecs = sparse.csr_matrix(model.user_factors)
artist_vecs = sparse.csr_matrix(model.item_factors)

In [113]:
def recommend(user_id, sparse_user_artist, user_vecs, artist_vecs, num_contents=100):
    user_interactions = sparse_user_artist[user_id,:].toarray()
    user_interactions = user_interactions.reshape(-1) + 1
    user_interactions[user_interactions > 1] = 0
    rec_vector = user_vecs[user_id,:].dot(artist_vecs.T).toarray()
    min_max = MinMaxScaler()
    rec_vector_scaled = min_max.fit_transform(rec_vector.reshape(-1,1))[:,0]
    recommend_vector = user_interactions * rec_vector_scaled
    content_idx = np.argsort(recommend_vector)[::-1][:num_contents]
    artists = []
    artist_uris = []
    artist_genres = []
    artist_top_tracks = []
    artist_related_artists = []
    artist_related_uris = []
    scores = []
    for idx in content_idx:
        artist = grouped_df.artist_name.loc[grouped_df.artist_id == idx].iloc[0]
        artist_uri = sp.search(artist)['tracks']['items'][0]['album']['artists'][0]['uri']
        artist_info = sp.artist(artist_uri)
        artist_genre = artist_info['genres']
        artist_related = get_related_artists(artist_uri)
        artist_tracks = get_top_tracks(artist_uri)
        artists.append(grouped_df.artist_name.loc[grouped_df.artist_id == idx].iloc[0])
        artist_uris.append(artist_uri)
        artist_genres.append(artist_genre)
        artist_related_artists.append(artist_related)
        related_uris = []
        for artist in artist_related:
            related_uri = sp.search(artist, type='artist')['artists']['items'][0]['uri']
            related_uris.append(related_uri)
        artist_related_uris.append(related_uris)
        artist_top_tracks.append(artist_tracks)
        scores.append(recommend_vector[idx])
    recommendations = pd.DataFrame({'artist_name': artists, 'artist_uri': artist_uris, 'artist_genres': artist_genres, 'artist_top_tracks': artist_top_tracks, 'artists_related': artist_related_artists, 'artists_related_uris': artist_related_uris, 'score': scores})
    return recommendations

In [114]:
# Create recommendations for current user
user_id = curr_user

recommendations = recommend(user_id, sparse_user_artist, user_vecs, artist_vecs)

#print(recommendations)

In [115]:
# User History

In [116]:
updated_df.loc[updated_df['user_id'] == curr_user].sort_values(by=['playCountScaled'], ascending=False)[['artist_name', 'user_id', 'playCountScaled']].head(10)

       artist_name  user_id  playCountScaled
0  various artists      875         0.012987
2       neil young      875         0.010823
3    elvis presley      875         0.010823
4          chicago      875         0.010823
5    grateful dead      875         0.010823
6          the who      875         0.010823
7     eric clapton      875         0.010823
1        the doors      875         0.010823
8       billy joel      875         0.008658
9    jimmy buffett      875         0.008658

In [117]:
# Recommendations

In [118]:
recommendations

,artist_name,artist_uri,artist_genres,artist_top_tracks,artists_related,artists_related_uris,score
0,led zeppelin,spotify:artist:36QJpDe2go2KgaRleHCDTp,"[album rock, classic rock, hard rock, rock]","[Stairway to Heaven - Remaster, Whole Lotta Lo...","[Deep Purple, Robert Plant, Jimi Hendrix, The ...","[spotify:artist:568ZhdwyaiCyOGJRtNYhWf, spotif...",0.106106
1,frank sinatra,spotify:artist:1Mxqyy3pSjf8kZZL4QVxS0,"[adult standards, easy listening, lounge]","[Fly Me To The Moon (In Other Words), My Way, ...","[Bobby Darin, Dean Martin, Perry Como, Nat Kin...","[spotify:artist:0EodhzA6yW1bIdD5B4tcmJ, spotif...",0.100762
2,van morrison,spotify:artist:44NX2ffIYHr6D4n7RaZF7A,"[classic rock, folk, folk rock, mellow gold, r...","[Brown Eyed Girl, Into the Mystic - 2013 Remas...","[Paul Simon, Jackson Browne, Crosby, Stills & ...","[spotify:artist:2CvCyf1gEVhI0mX6aFXmVI, spotif...",0.093940
3,simon & garfunkel,spotify:artist:70cRZdQywnSFp9pnc2WTCE,"[classic rock, folk, folk rock, melancholia, m...","[Mrs. Robinson - From ""The Graduate"" Soundtrac...","[Paul Simon, Yusuf / Cat Stevens, Don McLean, ...","[spotify:artist:2CvCyf1gEVhI0mX6aFXmVI, spotif...",0.071815
4,u2,spotify:artist:51Blml2LZPmy7TTiAg47vQ,"[irish rock, permanent wave, rock]","[With Or Without You - Remastered, I Still Hav...","[R.E.M., Simple Minds, The Police, INXS, Prete...","[spotify:artist:4KWTAlx2RvbpseOGMEmROg, spotif...",0.069712
...,...,...,...,...,...,...,...
95,the velvet underground,spotify:artist:1nJvji2KIlWSseXRSlNYsC,"[art rock, classic rock, folk rock, melancholi...","[Pale Blue Eyes, Sunday Morning, Oh! Sweet Nut...","[The Modern Lovers, Television, Lou Reed, The ...","[spotify:artist:2eRdPaLHWAL4d1WcNUO9Vz, spotif...",0.034456
96,cat power,spotify:artist:6G7OerKc3eBO9sVkRNopFC,"[art pop, freak folk, indie rock, melancholia,...","[Sea of Love, The Greatest, Stay, What The Wor...","[Feist, CocoRosie, Sharon Van Etten, PJ Harvey...","[spotify:artist:6CWTBjOJK75cTE8Xv8u1kj, spotif...",0.034397
97,sufjan stevens,spotify:artist:4MXUO7sVCaFgFjoTI5ox5c,"[baroque pop, chamber pop, freak folk, indie f...",[Mystery of Love (From the Original Motion Pic...,"[Grizzly Bear, Andrew Bird, Dirty Projectors, ...","[spotify:artist:2Jv5eshHtLycR6R8KQCdc4, spotif...",0.034322
98,bobby darin,spotify:artist:0EodhzA6yW1bIdD5B4tcmJ,"[adult standards, brill building pop, easy lis...","[Beyond the Sea, Mack the Knife, Dream Lover, ...","[Al Martino, Sammy Davis Jr., Jimmy Durante, V...","[spotify:artist:7egNqIGRldMzifHoh8pib6, spotif...",0.034276
99,john hiatt,spotify:artist:4Sld5LOPbAm1QSq9U32fFV,"[alternative country, classic rock, country ro...","[Have A Little Faith In Me, Will The Circle Be...","[Steve Forbert, Lyle Lovett, Dave Alvin, Littl...","[spotify:artist:3oAbjWINfcTSAuVUlXXMty, spotif...",0.034236

In [119]:
selection = ['pop']

In [120]:
filtered_recommendations = recommendations[recommendations.artist_genres.apply(lambda x: bool(set(x) & set(selection)))]

In [121]:
filtered_recommendations.head()

,artist_name,artist_uri,artist_genres,artist_top_tracks,artists_related,artists_related_uris,score
5,r.e.m.,spotify:artist:66CXWjxzNUsdJxJ2JdwvnR,"[dance pop, pop, post-teen pop]","[positions, 34+35, Stuck with U (with Justin B...","[Camila Cabello, Fifth Harmony, Selena Gomez, ...","[spotify:artist:4nDoRrQiYLoBzwC5BhVJzF, spotif...",0.069504
50,beck,spotify:artist:4obzFoKoKRHIphyHzJ35G3,"[dance pop, latin, latin pop, latin viral pop,...","[Shower, Perdiendo la Cabeza, No Drama, Sin Pi...","[Sofia Reyes, Lele Pons, Mario Bautista, Jakob...","[spotify:artist:0haZhu4fFKt0Ag94kZDiz2, spotif...",0.042094

In [122]:
if len(filtered_recommendations) < 10:
    related_artists_lst = list(filtered_recommendations['artists_related_uris'].explode())
    related_tracks_lst = []
    for artist in related_artists_lst:
        artist_top_tracks = get_top_tracks(artist)
        related_tracks_lst.extend(artist_top_tracks)

In [123]:
top_recommended_tracks = pd.DataFrame(filtered_recommendations['artist_top_tracks'].explode())

In [153]:
top_recommended_tracks

                                    artist_top_tracks
5                                           positions
5                                               34+35
5                   Stuck with U (with Justin Bieber)
5                                             7 rings
5   34+35 Remix (feat. Doja Cat, Megan Thee Stalli...
50                                             Shower
50                                Perdiendo la Cabeza
50                                           No Drama
50                                         Sin Pijama
50                                         MALA SANTA

In [124]:
N = 50

In [125]:
if len(top_recommended_tracks) < N:
    recommended_lst = top_recommended_tracks['artist_top_tracks'].tolist()
    recommended_lst.extend(related_tracks_lst)

In [126]:
top_recommended_df = pd.DataFrame(recommended_lst, columns=['song_recommendations'])

In [127]:
tracks_output = top_recommended_df.reset_index(drop=True)[:N]

In [128]:
tracks_output

                                 song_recommendations
0                                           positions
1                                               34+35
2                   Stuck with U (with Justin Bieber)
3                                             7 rings
4   34+35 Remix (feat. Doja Cat, Megan Thee Stalli...
5                                              Shower
6                                 Perdiendo la Cabeza
7                                            No Drama
8                                          Sin Pijama
9                                          MALA SANTA
10                                           Señorita
11                          Havana (feat. Young Thug)
12                            My Oh My (feat. DaBaby)
13  South of the Border (feat. Camila Cabello & Ca...
14                   Beautiful (feat. Camila Cabello)
15               Work from Home (feat. Ty Dolla $ign)
16                           Worth It (feat. Kid Ink)
17                                     That's My Girl
18                                               BO$$
19            All In My Head (Flex) (feat. Fetty Wap)
20                Baila Conmigo (with Rauw Alejandro)
21                                Lose You To Love Me
22                                         De Una Vez
23                                             Wolves
24     Taki Taki (with Selena Gomez, Ozuna & Cardi B)
25            Dusk Till Dawn (feat. Sia) - Radio Edit
26                                              Vibez
27                                         PILLOWTALK
28   I Don’t Wanna Live Forever (Fifty Shades Darker)
29                                             Better
30                            Scars To Your Beautiful
31                                        Out Of Love
32                                               Stay
33  I'm Like A Bird - Recorded at Spotify Studios NYC
34                                              Ready
35        1, 2, 3 (feat. Jason Derulo & De La Ghetto)
36                   R.I.P. (feat. Rita Ora & Anitta)
37              Whoppa (feat. Sofia Reyes and Farina)
38                                    ¿Qué Ha Pasao'?
39                                   Gotta Be Patient
40                          Se Te Nota (with Guaynaa)
41                           Bubble Gum (with Yandel)
42                                             Celoso
43                                              Dicen
44         Volar (feat. Susan Diaz & Victor Cardenas)
45                      Baby Girl (feat. Lalo Ebratt)
46                                            Tequila
47                                           Qué Pasa
48                                       Buena Suerte
49                                      No digas nada

### Evaluating CF Recommender

In [129]:
import random

In [130]:
from sklearn import metrics

In [131]:
def get_train_test(ratings, pct_test = 0.2):
    test_data = ratings.copy() # Make a copy of the original data to be test data
    test_data[test_data != 0] = 1 
    
    training_data = ratings.copy() # Make a copy of the original data to alter for training data
    
    nonzero_inds = training_data.nonzero()
    nonzero_pairs = list(zip(nonzero_inds[0], nonzero_inds[1])) 

    
    random.seed(0) # For reproducibility
    
    num_samples = int(np.ceil(pct_test*len(nonzero_pairs))) # Get the number of samples
    samples = random.sample(nonzero_pairs, num_samples) # Sample without replacement

    artist_indices = [index[0] for index in samples] 

    user_indices = [index[1] for index in samples] 

    
    training_data[artist_indices, user_indices] = 0 
    training_data.eliminate_zeros() 
    
    return training_data, test_data, list(set(user_indices))

In [132]:
training_data, test_data, artists_users_altered = get_train_test(sparse_artist_user, pct_test = 0.2)

In [133]:
def auc_score(predictions, test):
    fpr, tpr, thresholds = metrics.roc_curve(test, predictions)
    return metrics.auc(fpr, tpr)

In [134]:
def calc_avg_auc(training_set, altered_users, predictions, test_set):
    user_auc = [] # User AUC 
    most_popular_auc = [] # Popular AUC
    popular_artists = np.array(test_set.sum(axis = 1)).reshape(-1) 
    artist_vecs = predictions[1]
    for user in altered_users: 
        training_column = training_set[:,user].toarray().reshape(-1) 
        zero_inds = np.where(training_column == 0) 
        
        user_vec = predictions[0][user,:]
        predicted_user_val = user_vec.dot(artist_vecs).toarray()[0,zero_inds].reshape(-1)
        
        actual = test_set[:,user].toarray()[zero_inds,0].reshape(-1)
        
        artist_popularity = popular_artists[zero_inds] 
        
        user_auc.append(auc_score(predicted_user_val, actual)) # Calculate AUC for the given user and store
        
        most_popular_auc.append(auc_score(artist_popularity, actual)) # Calculate AUC using most popular and score
    # End users iteration
    
    return float('%.3f'%np.mean(user_auc)), float('%.3f'%np.mean(most_popular_auc))

In [135]:
auc_scores = calc_avg_auc(training_data, artists_users_altered,
              [user_vecs, artist_vecs.T], test_data)

In [136]:
auc_scores

(0.813, 0.809)

In [137]:
avg_user_auc = auc_scores[0]

In [138]:
avg_user_auc

0.813

In [139]:
avg_pop_auc = auc_scores[1]

In [140]:
avg_pop_auc

0.809